.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width: 100% !important;
}

.card_image{
  width: 80% !important;
  height: 250px !important;
  margin: auto !important;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.04);
  transition-duration: 0.2s;
}

.product_details{
  border: 2px solid grey;
}

.product_detail_image{
  height: 500px;
  width: 70%;
}

.text-justify{
  text-align: justify;
}

@media screen {
  
}